arxiv2bib==1.0.8
citeproc-py==0.5.1
citeproc-py-styles==0.1.2
Flask==1.1.2
Flask-DebugToolbar==0.11.0
google==3.0.0
gunicorn==20.0.4
json5==0.9.5
nameparser==1.0.6
pytest==6.1.1
requests==2.24.0
requests-cache==0.5.2
sentry-sdk==0.18.0
unidecode==1.1.1
validators==0.18.1