arxiv2bib==1.0.8
citeproc-py==0.3.0
citeproc-py-styles==0.1.0
ddt==1.1.1
Flask==1.0.2
Flask-Compress==1.3.0
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
gunicorn==19.4.5
heroku==0.1.4
itsdangerous==0.24
Jinja2==2.10
json5==0.6.1
nameparser==0.5.1
nose==1.3.7
psycopg2==2.7.5
requests==2.20.0
requests-cache==0.4.12
sentry-sdk==0.5.5
shortuuid==0.4.3
unidecode==0.04.21
WebOb==1.8.3
Werkzeug==0.14.1